<%- include("../partials/header") %> 
  <title>NC | Login</title>
<body>
    <div class="row container-login">
        <div class="login-text col-lg-8">
            <h1>TheNewCarthage</h1>
            <h5 class="login-h5">Login</h5>
        </div>
        <div class="login col-lg-4">
            <form action="/login" method="POST">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
        </div>
        <p class="mt-5 rights-login mb-3 text-muted">&copy; 2021 TheNewCarthage. All rights reserved.</p>
    </div>

<%- include("../partials/footer") %> 


