<footer class="footer-system">
    <div class="explore">
        <div class="explore-title">
            <div class="vl2"></div>
            <span class="explore-span">Explore The NC</span>
        </div>
        <div class="explore-navs">
            <div class="nav-collection">
                <div class="vl3"></div>
                <a href="#"><span class="explore1-span">Home</span></a> 
            </div>
            <div class="nav-collection">
                <div class="vl3"></div>
                <a href="#"><span class="explore1-span">News</span></a> 
            </div>
            <div class="nav-collection">
                <div class="vl3"></div>
                <a href="#"><span class="explore1-span">Tech</span></a> 
            </div>
            <div class="nav-collection">
                <div class="vl3"></div>
                <a href="#"><span class="explore1-span">Sport</span></a> 
            </div>
            <div class="nav-collection">
                <div class="vl3"></div>
                <a href="#"><span class="explore1-span">Entertainment</span></a> 
            </div> 
        </div>
        <hr>
    </div>
    <div class="footer-links"><a href="#">Terms of Use</a></div>
    <div class="footer-links"><a href="#">About NC</a></div>
    <div class="footer-links"><a href="#">Privacy Policy</a></div>
    <div class="footer-links"><a href="#">NC Developers</a></div>
    <div class="footer-links"><a href="#">Contact NC</a></div>
    <div class="footer-links"><a href="#">Advertise with us</a></div>
    <p class="copyright-text" >© 2021 TheNewCarthage. All rights Reserved, Developed with ❤️ by Nidhal Messaoudi.</p>
</footer>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>