<%- include("header") %> 

<footer class="footer-system">
    <div class="explore">
        <div class="explore-title">
            <div class="vl2"></div>
            <span class="explore-span">Explore The NC</span>
        </div>
        <div class="explore-navs row">
            <div class="nav-collection col-lg-3 col-md-4 col-sm-6">
                <div class="vl3"></div>
                <a class="nc-links" href="/"><span class="explore1-span">Home</span></a> 
            </div>
            <div class="nav-collection col-lg-3 col-md-4 col-sm-6">
                <div class="vl3"></div>
                <a class="nc-links" href="/news"><span class="explore1-span">News</span></a> 
            </div>
            <div class="nav-collection col-lg-3 col-md-4 col-sm-6">
                <div class="vl3"></div>
                <a class="nc-links" href="/tech"><span class="explore1-span">Tech</span></a> 
            </div>
            <div class="nav-collection col-lg-3 col-md-4 col-sm-6">
                <div class="vl3"></div>
                <a class="nc-links" href="/sport"><span class="explore1-span">Sport</span></a> 
            </div>
            <div class="nav-collection col-lg-3 col-md-4 col-sm-6">
                <div class="vl3"></div>
                <a class="nc-links" href="/health"><span class="explore1-span">Health</span></a> 
            </div>
            <div class="nav-collection col-lg-3 col-md-4 col-sm-6">
                <div class="vl3"></div>
                <a class="nc-links" href="/extra"><span class="explore1-span">Extra</span></a> 
            </div>
            <div class="nav-collection col-lg-3 col-md-4 col-sm-6">
                <div class="vl3"></div>
                <a class="nc-links" href="/entertainment"><span class="explore1-span">Entertainment</span></a> 
            </div> 
            <div class="nav-collection col-lg-3 col-md-4 col-sm-6">
                <div class="vl3"></div>
                <a class="nc-links" href="/"><span class="explore1-span">NCreviews</span></a> 
            </div> 
        </div>
        <hr>
    </div>
    <div class="row div-footer-links">
        <div class="footer-links col-lg-3 col-md-4 col-sm-6"><a class="nc-links" href="#">Terms of Use</a></div>
        <div class="footer-links col-lg-3 col-md-4 col-sm-6"><a class="nc-links" href="#">Privacy Policy</a></div>
        <div class="footer-links col-lg-3 col-md-4 col-sm-6"><a class="nc-links" href="#">Send Feedback</a></div>
        <div class="footer-links col-lg-3 col-md-4 col-sm-6"><a class="nc-links" href="#">NC Developers</a></div>
        <div class="footer-links col-lg-3 col-md-4 col-sm-6"><a class="nc-links" href="#">Advertise with Us</a></div>
        <div class="footer-links col-lg-3 col-md-4 col-sm-6"><a class="nc-links" href="#">Help</a></div>
        <div class="footer-links col-lg-3 col-md-4 col-sm-6"><a class="nc-links" href="#">Support Us</a></div>
        <div class="footer-links col-lg-3 col-md-4 col-sm-6"><a class="nc-links" href="#">About NC</a></div>
    </div>
    <p class="copyright-text" >&copy; 2021 TheNewCarthage. All rights reserved, Developed with ❤️ by Nidhal Messaoudi.</p>
</footer>





<%- include("footer") %> 