<%- include("partials/header") %> 
    <title>NC Blog: Page Not Found</title>
<body>
    <%- include("partials/navbar") %> 
    <div class="notfound">
        <img src="/imgs/404_not_found.svg" class="notfound-img" alt="404_not_found image">
        <h3>This page isn't found!</h3>
        <h5 class="notfound-text">The link may be broken, or the page may have been removed. Click the button bellow to go to TheNewCarthage homePage.</h5>
        <a href="/"><button type="button" class="btn btn-primary btn-lg notfound-button">Go to NC Blog</button></a> 
    </div>
<%- include("partials/sitemap") %> 
<%- include("partials/footer") %> 