<%- include("partials/header") %>
  <title>NC Blog: News, Tech, Programming, Development, Sport, Health, Entertainment</title>
<body>
    <!-- Navbar -->
    <header class="site-header sticky-top">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TheNewCarthage</a>
          <button class="navbar-toggler collapse-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Tech</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Programming</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Sport</a></li>
                  <li><a class="dropdown-item" href="#">Health</a></li>
                  <li><a class="dropdown-item" href="#">Life</a></li>
                  <li><a class="dropdown-item" href="#">Entertainment</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">About NC</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control search-field me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn search-button btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <a href="#"><i class="social-top fab fa-facebook-f"></i></a> 
            <a href="#"><i class="social-top fab fa-twitter"></i></a> 
            <a href="#"><i class="fas social-top fa-envelope"></i></a> 
          </div>
        </div>
    </nav>
    </header>
    <!-- Welcome Section -->
    <div class="container-system">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="welcome-h1">Welcome To TheNewCarthage Blog.</h1>
            </div>
            <div class="col-lg-6">
                <img class="news-img" src="imgs/news.png" alt="news-illustration">
            </div>
        </div>
    </div>
    <!-- News Section -->
    <div class="container-system">
        <div class="post-sections">
          <div class="vl"></div>
          <span class="news-span">News</span>
        </div>
        <div class="row">
          <div class="col-lg-7">
            <div class="card post-component post-template">
              <img src="imgs/img2.jpg" class="img-template" alt="img2">
              <div class="post-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <div class="date-div">
                  <span class="post-date"><i class="fas fa-calendar-week"></i>  12/23/2020</span> 
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis maiores sint delectus, perspiciatis blanditiis autem animi fugiat, Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet blanditiis facere sapiente quam nihil laudantium fugiat delectus illo velit! Praesentium fuga dignissimos sunt unde aliquid mollitia reprehenderit architecto magni Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt perspiciatis quibusdam harum libero aspernatur placeat, quas corrupti laboriosam ea hic...</p>
              </div>
          </div>
          </div>
          <div class="col-lg-5">
            <div class="card post-component post-template">
              <img src="imgs/img2.jpg" class="card-img-top" alt="img2">
              <div class="post-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <div class="date-div">
                  <span class="post-date"><i class="fas fa-calendar-week"></i>  12/23/2020</span> 
                </div> 
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis maiores sint delectus, perspiciatis blanditiis autem animi fugiat, eaque qua...</p>
              </div>
            </div>
            <div class="card post-component">
              <img src="imgs/img2.jpg" class="card-img-top" alt="img2">
              <div class="post-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <div class="date-div">
                  <span class="post-date"><i class="fas fa-calendar-week"></i>  12/23/2020</span> 
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis maiores sint delectus, perspiciatis blanditiis autem animi fugiat, eaque qua...</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Tech Section -->
    <div class="container-system">
      <div class="post-sections">
        <div class="vl"></div>
        <span class="news-span">Tech</span>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card post-component post-template">
            <img src="imgs/img2.jpg" class="card-img-top" alt="img2">
            <div class="post-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <div class="date-div">
                <span class="post-date"><i class="fas fa-calendar-week"></i>  12/23/2020</span> 
              </div> 
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis maiores sint delectus, perspiciatis blanditiis autem animi fugiat, eaque qua...</p>
            </div>
          </div>
          <div class="card post-component post-template">
            <img src="imgs/img2.jpg" class="card-img-top" alt="img2">
            <div class="post-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <div class="date-div">
                <span class="post-date"><i class="fas fa-calendar-week"></i>  12/23/2020</span> 
              </div>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis maiores sint delectus, perspiciatis blanditiis autem animi fugiat, eaque qua...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card post-component post-template">
            <img src="imgs/img2.jpg" class="card-img-top" alt="img2">
            <div class="post-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <div class="date-div">
                <span class="post-date"><i class="fas fa-calendar-week"></i>  12/23/2020</span> 
              </div> 
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis maiores sint delectus, perspiciatis blanditiis autem animi fugiat, eaque qua...</p>
            </div>
          </div>
          <div class="card post-component post-template">
            <img src="imgs/img2.jpg" class="card-img-top" alt="img2">
            <div class="post-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <div class="date-div">
                <span class="post-date"><i class="fas fa-calendar-week"></i>  12/23/2020</span> 
              </div>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis maiores sint delectus, perspiciatis blanditiis autem animi fugiat, eaque qua...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card post-component post-template">
            <img src="imgs/img2.jpg" class="card-img-top" alt="img2">
            <div class="post-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <div class="date-div">
                <span class="post-date"><i class="fas fa-calendar-week"></i>  12/23/2020</span> 
              </div> 
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis maiores sint delectus, perspiciatis blanditiis autem animi fugiat, eaque qua...</p>
            </div>
          </div>
          <div class="card post-component post-template">
            <img src="imgs/img2.jpg" class="card-img-top" alt="img2">
            <div class="post-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <div class="date-div">
                <span class="post-date"><i class="fas fa-calendar-week"></i>  12/23/2020</span> 
              </div>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis maiores sint delectus, perspiciatis blanditiis autem animi fugiat, eaque qua...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Stories Section -->
    <div class="container-system">
      <div class="post-sections">
        <div class="vl"></div>
        <span class="news-span">Stories</span>
      </div>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="imgs/img1.png" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="imgs/img2.jpg" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="imgs/img3.jpg" class="d-block w-100" alt="">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
    <!-- Middle Section -->
    <div class="row container-system">
        <div class="col-lg-7">
            <!-- Picks Section -->
            <div class="post-sections">
              <div class="vl"></div>
              <span class="news-span">Picks</span>
            </div>
            <div class="card post-component post-template">
              <img src="imgs/img2.jpg" class="img-template" alt="img2">
              <div class="post-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <div class="date-div">
                  <span class="post-date"><i class="fas fa-calendar-week"></i>  12/23/2020</span> 
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis maiores sint delectus, perspiciatis blanditiis autem animi fugiat, Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet blanditiis facere sapiente quam nihil laudantium fugiat delectus illo velit! Praesentium fuga dignissimos sunt unde aliquid mollitia reprehenderit architecto magni Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt perspiciatis quibusdam harum libero aspernatur placeat, quas corrupti laboriosam ea hic...</p>
              </div>
            </div>
        </div>
        <div class="col-lg-5">
            <!-- Adverbs Section -->
            <div class="post-sections">
              <div class="vl"></div>
              <span class="news-span">Adverbs</span>
            </div>
            <div class="card post-component">
              <div class="post-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                  <blockquote class="blockquote mb-0">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                  <blockquote class="blockquote mb-0">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                  <blockquote class="blockquote mb-0">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                  <blockquote class="blockquote mb-0">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
        </div>
    </div>
    <footer class="footer-system">
      <div class="explore">
          <div class="explore-title">
              <div class="vl2"></div>
              <span class="explore-span">Explore The NC</span>
          </div>
          <div class="explore-navs">
              <div class="nav-collection">
                  <div class="vl3"></div>
                  <a class="nc-links" href="#"><span class="explore1-span">Home</span></a> 
              </div>
              <div class="nav-collection">
                  <div class="vl3"></div>
                  <a class="nc-links" href="#"><span class="explore1-span">News</span></a> 
              </div>
              <div class="nav-collection">
                  <div class="vl3"></div>
                  <a class="nc-links" href="#"><span class="explore1-span">Tech</span></a> 
              </div>
              <div class="nav-collection">
                  <div class="vl3"></div>
                  <a class="nc-links" href="#"><span class="explore1-span">Sport</span></a> 
              </div>
              <div class="nav-collection">
                  <div class="vl3"></div>
                  <a class="nc-links" href="#"><span class="explore1-span">Entertainment</span></a> 
              </div> 
          </div>
          <hr>
      </div>
      <div class="footer-links"><a class="nc-links" href="#">Terms of Use</a></div>
      <div class="footer-links"><a class="nc-links" href="#">About NC</a></div>
      <div class="footer-links"><a class="nc-links" href="#">Privacy Policy</a></div>
      <div class="footer-links"><a class="nc-links" href="#">NC Developers</a></div>
      <div class="footer-links"><a class="nc-links" href="#">Contact NC</a></div>
      <div class="footer-links"><a class="nc-links" href="#">Advertise with us</a></div>
      <p class="copyright-text" >© 2021 TheNewCarthage. All rights Reserved, Developed with ❤️ by Nidhal Messaoudi.</p>
    </footer>

<%- include("partials/footer") %>
