<%- include("partials/header") %>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TheNewCarthage</a>
          <button class="navbar-toggler collapse-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse bg-white justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Tech</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Programming</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Sport</a></li>
                  <li><a class="dropdown-item" href="#">Health</a></li>
                  <li><a class="dropdown-item" href="#">Life</a></li>
                  <li><a class="dropdown-item" href="#">Entertainment</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">About NC</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn search-button btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <a href="#"><i class="social-top fab fa-facebook-f"></i></a> 
            <a href="#"><i class="social-top fab fa-twitter"></i></a> 
            <a href="#"><i class="fas social-top fa-envelope"></i></a> 
          </div>
        </div>
    </nav>
    <!-- Welcome Section -->
    <div class="container-system">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="welcome-h1">Welcome To TheNewCarthage Blog.</h1>
            </div>
            <div class="col-lg-6">
                <img class="news-img" src="imgs/news.png" alt="news-illustration">
            </div>
        </div>
    </div>
    <!-- News Section -->
    <div class="container-system">
        <div class="vl"></div>
        <span class="news-span">News</span>
        <p>Comming Soon...</p>
    </div>
    <!-- Tech Section -->
    <div class="container-system">
        <div class="vl"></div>
        <span class="news-span">Tech</span>
        <p>Comming Soon...</p>
    </div>
    <!-- Stories Section -->
    <div class="container-system">
        <div class="vl"></div>
        <span class="news-span">Stories</span>
        <p>Comming Soon...</p>
    </div>
    <!-- Middle Section -->
    <div class="row container-system">
        <div class="col-lg-7">
            <!-- Picks Section -->
            <div class="vl"></div>
            <span class="news-span">Picks</span>
            <p>Comming Soon...</p>
        </div>
        <div class="col-lg-5">
            <!-- Adverbs Section -->
            <div class="vl"></div>
            <span class="news-span">Adverbs</span>
            <p>Comming Soon...</p>
        </div>
    </div>

<%- include("partials/footer") %>
