body {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: #373a40;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 18rem;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: auto;
  overflow-x: hidden;
}
.brand-h4 {
  margin: 60px 20px 20px 50px;
  color: #eeeeee;
}
.sidebar-brand {
  text-decoration: none;
  color: #eeeeee;
}
.sidebar-brand:hover {
  color: #eeeeee;
}
.sidebar-elements {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.sidebar-item {
  line-height: 4;
  padding: 0 10px;
  margin: 0 40px;
  text-decoration: none;
  color: #eeeeee;
}
.sidebar-item:hover {
  background-color: #707070;
  color: #eeeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.sb-icons {
  color: #eeeeee; 
  margin-right: 10px;
  font-size: 20px;
}
/* Main */
.main {
  margin-left: 18rem;
  padding: 1% 4%;
}
.toggle-btn {
  display: block !important;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: 55px;
    position: relative;
    padding: 0;
  }
  #dashboard-nav {
    margin: 0 auto;
    justify-content: center;
  }
  .sidebar-elements {
    display: inline;
    padding: 20px 0;
    margin-top: 0;
  }
  .sm-hidden {
    display: none;
  }
  .dash-icon {
    margin-top: 20px;
  }
  .brand-h4 {
    padding: 0;
    margin: 0;
    display: none;
  }
  .sidebar-item:hover {
    background-color: #373a40;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .sidebar-elements a {
    display: inline;
    margin: 0;
    line-height: 0;
  }
  div.main {
    margin-left: 0;
  }
}
/* Posts Section */
.dash-h2 {
  padding-top: 20px;
}
.dashboard-system {
  padding: 2% 5%;
}
.action-btn {
  margin-bottom: 10px;
}
/* Main */
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}
.cloud-icon {
  margin-right: 5px;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}
/* Ads Requests Section */
.feed-container {
  background-color: #ffffff;
  border: 1px solid #cfd3ce;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}
.bi-x {
  font-size: 1.5rem;
}
.del-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: right;
  transition: 500ms background-color;
}
.del-btn:hover {
  background-color: #bbbbbb;
}
/* Dashboard Footer */
.dash-footer {
  text-align: center;
}

