/* Login Page */
.container-login {
    margin-top: 7rem;
    margin-bottom: 3rem;
    max-width: 100%;
}
.rights-login {
    text-align: center;
    padding-top: 5rem;
    margin: 0 !important;
}
.login {
    background-color: #ffffff;
    padding: 2rem 1.5rem 2rem 1.5rem;
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
}
.login-text {
    padding: 3rem;
    margin-left: 5rem;
    max-width: 50%;
}
.login-h5 {
    padding-left: 7px;
}