<%- include("../partials/header") %>
  <title>NC Blog: About</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %> 
    <div class="topic-system">
        <h2>About</h2>
        <p>NC Blog is a world news presenter that shows different kinds of news like: Sport, Politics,tech, Health and Entertainment. </p>
        <h5>Contact</h5>
        <p>Location: Tunisia</p>
        <p>Email: thenewcarthage@gmail.com</p>
        <a href="mailto:thenewcarthage@gmail.com"><button type="button" class="btn btn-primary">Contact Us</button></a>
    </div>
<!-- Explore Section -->
<%- include("../partials/sitemap") %>     
    
<%- include("../partials/footer") %>
<script src="home.js"></script>