<%- include("../partials/header") %>
  <title>NC Blog: Advertise</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %> 
    <div class="topic-system">
        <h2>Service coming soon...</h2>
        <p>If you are so interested, you can send us a notification as <a href="/feedback">feedback</a>.</p>
    </div>
<!-- Explore Section -->
<%- include("../partials/sitemap") %>     
    
<%- include("../partials/footer") %>
<script src="home.js"></script>