<%- include("../partials/header") %>
  <title>NC Blog: Developers</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %> 
    <div class="topic-system">
        <h1>Developers</h1>
        <h3>The NC Blog project</h3>
        <p>Hello our Colleage! If you are visiting this page, we are sure that you are a developer.</p>
        <p>NC Blog is an open source blog project with CMS structure, created by <a href="https://nidhalmessaoudi.herokuapp.com">Nidhal Messaoudi</a> under GNU General Public  License(GPL-3.0) to share some content and world news.</p>
        <h6>Technologies used for development</h6>
        <ul>
            <li>JavaScript</li>
            <li>NodeJS</li>
            <li>Express</li>
            <li>MongoDB</li>
            <li>EJS</li>
            <li>Bootsrap 5</li>
        </ul>
        <p>So, if you want to contribute on it or use, you are welcome!</p>
        <p>You can find the github repo where the source code by following <a href="https://github.com/nidhalmessaoudi/NC_Blog">this link</a>.</p>
        <p>Thank you!</p>
    </div>
<!-- Explore Section -->
<%- include("../partials/sitemap") %>     
    
<%- include("../partials/footer") %>
<script src="home.js"></script>