<%- include("../partials/header") %>
  <title>NC Blog: Help</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %> 
    <div class="topic-system">
        <h2>Help</h2>
        <p>If you get stuck when navigating our website, you can search for specific post or take a look at the bottom of the page where you can find the Explore section.</p>
    </div>
<!-- Explore Section -->
<%- include("../partials/sitemap") %>     
    
<%- include("../partials/footer") %>
<script src="home.js"></script>