<%- include("../partials/header") %>
  <title>Success</title>
<body>
    <!-- Navbar -->
    <%- include("../partials/navbar") %> 
    <div class="topic-system">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Feedback sent successfully!</h4>
            <p>Thank you for giving us part of your time to evaluate our work and provide your feedback. We promise we read it well.</p>
        </div>
        <a href="/"><button type="button" class="btn btn-success">Go to the homePage</button></a>
    </div>
<!-- Explore Section -->
<%- include("../partials/sitemap") %>     
    
<%- include("../partials/footer") %>
<script src="home.js"></script>